<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/Gov_Project.css" />
    <title>Document</title>
</head>
<body>
	<main>
    <div id="FormContainer" class="container">
        <h1>Zone License Application</h1>
        <form id="LogForm" method="post">
            
            <div>
				<section id="login">
				<h2>Enter your details:</h2>
				<label for="FullName"><b>Name</b></label>
                <input type="text" name="name" placeholder="FullName"/>
				
				<label for="IDNumber"><b>ID Number</b></label>
                <input type="text" name="name" placeholder="e.g. 1234567890987"/>
				
				<label for="Email"><b>Email</b></label>
                <input type="email" name="name" placeholder="Email"/>

                <input type="text" name="business-name" placeholder="Business Name"/>
                <select name="business-type" id="business-type">
                    <option value="">--Please choose an option--</option>
                    <option value="tuck-shop">Tuck Shop</option>
                    <option value="hair-salon">Hair Salon</option>
                    <option value="car-wash"> Car Wash</option>
                    <option value="street-vendor">Street Vendor</option>
                    <option value="other">Other</option>
                </select>
                <textarea type="text" name="address" placeholder="Street Address"></textarea>
                
				</section>
            </div>
        </form>
    
	</main>
	
	<footer>
			<hr>
			 <p>
				Created by: 
				<p>M Khwela</p>
			</p>
			<p>&copy; Infinite Loopers</p>
			</footer>
			<!-- ================= FOOTER (end) ================= -->
		</div> <!--Container Div -->
</body>
</html>