<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/application.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Zoning License Application</h1>
        <form>
            <h3>Enter your details:</h3>
            <div>
                <input type="text" name="name" placeholder="FullName"/>
                <input type="text" name="name" placeholder="ID Number"/>
                <input type="email" name="name" placeholder="Email"/>

                <input type="text" name="business-name" placeholder="Business Name"/>
                <select name="business-type" id="business-type">
                    <option value="">--Please choose an option--</option>
                    <option value="tuck-shop">Tuck Shop</option>
                    <option value="hair-salon">Hair Salon</option>
                    <option value="car-wash"> Car Wash</option>
                    <option value="street-vendor">Street Vendor</option>
                    <option value="other">Other</option>
                </select>
         
                <textarea name="address" placeholder="Address"></textarea>
            </div>
        </form>
    </div>
</body>
</html>