<!DOCTYPE html>
<!-- M. Khwela (2026442703) -->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Government Project</title>
		<link rel = "stylesheet"
			  href = "styles/normalize.css">
		<link rel = "stylesheet"
			  href = "styles/Gov_Project.css">
		
    </head>
    <body>
        <div id ="Container">
			<!-- ================= HEADER (start) ================= -->
			
			<header>
				<!-- Logo image -->
				<img src="images/Gov_Logo.png" alt="Government Logo">
			
			</header>
			<nav>
				<p>
					<a class="current">Log In Page &nbsp;</a>
				</p>
			</nav>	
			<main>
			<form id="Login">
				<label for="uName"><b>Userame</b></label>
				<input type="text" placeholder="Enter name" name="uName" required>
				<br>
				
				<label for="uSurname"><b>Surname</b></label>
				<input type="text" placeholder="Enter surname" name="uSurname" required>
				<br>
				
				<label for="psw"><b>Password</b><label>
				<input type="password" placeholder="Enter password" name= "psw" required>
				<br>
				
				
				<label>
					<input type="checkbox" checked="checked" name="remember">Remember me
				</label>
				</form>
				
				<script>
					
				</script>
				
		 </main>
			<!-- ================= MAIN (end) ================= -->

			<!-- ================= FOOTER (start) ================= -->
			<footer>
			<hr>
			 <p>
				Created by: 
				<p><M Khwela</p>
			</p>
			<p>&copy; Infinite Loopers</p>
			</footer>
			<!-- ================= FOOTER (end) ================= -->
		</div> <!--Container Div>
    </body>
</html>