<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Government Project</title>
		<link rel = "stylesheet"
			  href = "styles/normalize.css">
		<link rel = "stylesheet"
			  href = "styles/Gov_Project.css">
		
    </head>
    <body>
        <div id ="Container">
			<!-- ================= HEADER (start) ================= -->
			
			<header>
				<!-- Logo image -->
				<img src="images/Gov_Logo.png" alt="LevelUp Logo">
				
				
			</header>
			<!-- ================= HEADER (end) ================= -->

			<!-- ================= NAVIGATION (start) ================= -->
			<nav>
				<p>
					<a class="current">Government Project &nbsp;</a>
					
				</p>
			</nav>
		
			<!-- ================= NAVIGATION (end) ================= -->

			<!-- ================= MAIN (start) ================= -->
			<main>
			   
				<h2>Welcome</h2>
				<p>
					Here to empowere the South African economic sector.<br>
				</p>

				
				<section id="Permits">
					<h2><a href = "permits">Permits</a></h2>
				
				</section>
				
		<section id="Licenses">
			<h2><a href = "Licenses">Licenses</a></h2>
		
		
		</section>
				
		 </main>
			<!-- ================= MAIN (end) ================= -->

			<!-- ================= FOOTER (start) ================= -->
			<footer>
			
			
			<p>&copy; Infinite Loopers</p>
			</footer>
			<!-- ================= FOOTER (end) ================= -->
		</div> <!--Container Div -->
    </body>
</html>