<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Government Project</title>
		<link rel = "stylesheet"
			  href = "styles/normalize.css">
		<link rel = "stylesheet"
			  href = "styles/Gov_Project.css">
		
    </head>
    <body>
        <div id ="Container">
			<!-- ================= HEADER (start) ================= -->
			
			<header>
				<!-- Logo image -->
				<img src="images/Gov_Logo.png" alt="Government Logo">
				
				
			</header>
			
			<nav>
				<p>
					<a class="current">Government Project &nbsp;</a>
					
				</p>
			</nav>
		
			
			<main>
				
				
		 </main>
			<!-- ================= MAIN (end) ================= -->

			<!-- ================= FOOTER (start) ================= -->
			<footer>
			
			<p>&copy; Infinite Loopers</p>
			</footer>
			<!-- ================= FOOTER (end) ================= -->
		</div> <!--Container Div>
    </body>
</html>