<!DOCTYPE html>
<!-- M. Khwela (2026442703) -->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Government Project</title>
		<link rel = "stylesheet" href = "styles/normalize.css">
		<link rel = "stylesheet" href = "styles/Gov_Project.css">
    </head>
    <body>
        <div id ="Container">
			<!-- ================= HEADER (start) ================= -->
			<header>
				<!-- Logo image -->
				<img src="images/Gov_Logo.png" alt="Government Logo">
			</header>
			<!-- ================= HEADER (end) ================= -->

			<!-- ================= NAVIGATION (start) ================= -->
			<nav>
				<p>
					<a class="current">Permits&nbsp;</a>
				</p>
			</nav>
			
			<main>
				<section id="Zoning License">
					<h2>Zoning License</h2>
					<p>A zoning license (also know as a land clearance use license) is used to confirm that the location of your shop is legally
					zoned for commmercial activities or retail activities</p>
					<a href="/applications/zone-license">Apply Now</a>
				</section>
				
				<section id="Trading_License">
					<h2>Businness Trading License</h2>
					<p>A general dealer's license is required by the local municipality to operate any retail outlet.</p>
					<a href="/applications/trading-license">Apply Now</a>
				</section>
				
				<section id="Fire_Clearance">
					<h2>Fire Clearance Certificate</h2>
					<p> Required to prove your shop meets strict safety and evacuation standards.</p>
					<a href="/applications/fire-clearence">Apply Now</a>
				</section>
		 	</main>
			<footer>
			<hr>
			 <p>Created by: 
				<p>M Khwela</p>
			</p>
			<p>&copy; Infinite Loopers</p>
			</footer>
			<!-- ================= FOOTER (end) ================= -->
		</div>
    </body>
</html>