<!DOCTYPE html>
<!-- M. Khwela (2026442703) -->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Government Project</title>
		<link rel = "stylesheet" href = "styles/normalize.css">
		<link rel = "stylesheet" href = "styles/Gov_Project.css">
    </head>
    <body>
        <div id ="Container">
			<!-- ================= HEADER (start) ================= -->
			<header>
				<!-- Logo image -->
				<img src="images/Gov_Logo.png" alt="Government Logo">
			</header>
			<nav>
				<p>
					<a class="current">Log In Page &nbsp;</a>
				</p>
			</nav>	
			<main>
			
			 <ol style="display: flex; list-style: none; gap: 15px; padding: 0;">
					<li><h2><a href="WelcomePage.html">Home</a></h2></li>
					<li><h2><a href="Login.html">&lt;&lt; Login</a></h2></li>
				  </ol>
			


			<form id="signIn" method="post" action="/api/login">

				<label for="uName"><b>Userame</b></label>
				<input type="text" placeholder="Enter name" name="uName" required>
				
				<label for="uSurname"><b>Surname</b></label>
				<input type="text" placeholder="Enter surname" name="uSurname" required>
				
				<label for="psw"><b>Password</b><label>
				<input type="password" placeholder="Enter password" name= "psw" required>
				
				<label for="psw"><b>Password</b><label>
				<input type="password" placeholder="Enter password" name= "psw" required>
				
				<label>
					<input type="checkbox" checked="checked" name="remember">Remember me
				</label>
				<br>
				
				<button type="submit">Login</button>
				
				
				
				</form>
				
				
		 </main>
			<!-- ================= MAIN (end) ================= -->

			<!-- ================= FOOTER (start) ================= -->
			<footer>
			
			
			<p>&copy; Infinite Loopers</p>
			</footer>
			<!-- ================= FOOTER (end) ================= -->
		</div> <!--Container Div -->
    </body>
</html>