<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/application.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form method="post" action="/create-account">
            <h3>Signup:</h3>
            <div>
                <input type="text" name="name" placeholder="Name" />
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <button class="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>
</html>